<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMBaseFontSizePercentage</key>
		<real>3.6</real>
		<key>CMTextSelector</key>
		<string>::cue</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_Cursive</string>
		<key>CMBaseFontSizePercentage</key>
		<real>3.6</real>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>::cue(red_bg)</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.yellow</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.red</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.green</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.blue</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.cyan</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.magenta</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.white</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.black</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.75</real>
			<real>0.75</real>
			<real>0.75</real>
		</array>
		<key>CMTextSelector</key>
		<string>.silver</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.gray</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.maroon</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.purple</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.fuchsia</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.lime</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.olive</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.navy</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.teal</string>
	</dict>
	<dict>
		<key>CMForegroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.aqua</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>1</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_opaque</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_yellow</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_red</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_green</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_blue</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_cyan</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_magenta</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_white</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_black</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.75</real>
			<real>0.75</real>
			<real>0.75</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_silver</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_gray</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_maroon</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_purple</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_fuchsia</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_lime</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_olive</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_navy</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_teal</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<integer>1</integer>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_aqua</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_yellow.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_red.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_green.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_blue.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_cyan.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_magenta.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_white.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_black.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.75</real>
			<real>0.75</real>
			<real>0.75</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_silver.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_gray.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_maroon.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_purple.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_fuchsia.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_lime.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_olive.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_navy.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.5</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_teal.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMCharacterBackgroundColorARGB</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
		</array>
		<key>CMTextSelector</key>
		<string>.bg_aqua.bg_semi-transparent</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.default</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSansSerif</string>
		<key>CMTextSelector</key>
		<string>.arabic</string>
		<key>CMBaseFontSizePercentage</key>
		<real>6</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSansSerif</string>
		<key>CMTextSelector</key>
		<string>.vietnamese</string>
		<key>CMBaseFontSizePercentage</key>
		<real>4.9</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.hungarian</string>
		<key>CMBaseFontSizePercentage</key>
		<real>4.9</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.czech</string>
		<key>CMBaseFontSizePercentage</key>
		<real>4.9</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.swahili</string>
		<key>CMBaseFontSizePercentage</key>
		<real>4.9</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSerif</string>
		<key>CMTextSelector</key>
		<string>.korean</string>
		<key>CMBaseFontSizePercentage</key>
		<real>5</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSerif</string>
		<key>CMTextSelector</key>
		<string>.hebrew</string>
		<key>CMRelativeFontSize</key>
		<real>200</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSerif</string>
		<key>CMTextSelector</key>
		<string>.thai</string>
		<key>CMBaseFontSizePercentage</key>
		<real>4.9</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSerif</string>
		<key>CMTextSelector</key>
		<string>.japanese</string>
		<key>CMBaseFontSizePercentage</key>
		<real>5</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.traditionalchinese</string>
		<key>CMBaseFontSizePercentage</key>
		<real>5</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.simplifiedchinese</string>
		<key>CMBaseFontSizePercentage</key>
		<real>5</real>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSerif</string>
		<key>CMTextSelector</key>
		<string>.mono_serif</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_MonospaceSansSerif</string>
		<key>CMTextSelector</key>
		<string>.mono_sans</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSerif</string>
		<key>CMTextSelector</key>
		<string>.prop_serif</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_ProportionalSansSerif</string>
		<key>CMTextSelector</key>
		<string>.prop_sans</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_Casual</string>
		<key>CMTextSelector</key>
		<string>.casual</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_Cursive</string>
		<key>CMTextSelector</key>
		<string>.cursive</string>
	</dict>
	<dict>
		<key>CMGenericFontFamilyName</key>
		<string>CMGenericFontName_SmallCapital</string>
		<key>CMTextSelector</key>
		<string>.small_caps</string>
	</dict>
	<dict>
	<key>CMRubyPosition</key>
		<string>CMRubyPosition_Before</string>
		<key>CMTextSelector</key>
		<string>.ruby_before</string>
	</dict>
	<dict>
		<key>CMRubyPosition</key>
		<string>CMRubyPosition_After</string>
		<key>CMTextSelector</key>
		<string>.ruby_after</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_Auto</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_auto</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_Start</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_start</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_End</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_end</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_Center</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_center</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_DistributeLetter</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_space_around</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_DistributeSpace</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_space_between</string>
	</dict>
	<dict>
		<key>CMRubyAlignment</key>
		<string>CMRubyRubyAlignment_LineEdge</string>
		<key>CMTextSelector</key>
		<string>.ruby_align_edge</string>
	</dict>
	<dict>
		<key>CMHorizontalInVerticalForms</key>
		<integer>-1</integer>
		<key>CMTextSelector</key>
		<string>.text_combine</string>
	</dict>
</array>
</plist>
